<%- include('../includes/header'); %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    

<main>

  <p class="text-center fw-semibold fs-1">Rumah Adat</p>
  <div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Salah satu jenis Rumah Betawi</h2>
        <p class="lead">
          Jenis lain rumah Tradisional Betawi adalah Rumah Kebaya atau disebut juga rumah Bapang. Antara Rumah Kebaya dengan Rumah Gudang dapat dibedakan dari bentuk atap. Bentuk atap Rumah Kebaya kiri kanan, bentuk atap rumah gudang depan belakang, meskipun keduanya berpola pelana.
Berbeda dengan dimensi rumah adat Betawi Gudang atau Panggung, Rumah Kebaya berbentuk bujursangkar sama sisi atau persegi. Bentuk atapnya pun memiliki beberapa pasang atap sehingga terlihat seperti lipatan kebaya, yang akhirnya menjadi asal usul Rumah Kebaya.</p>
      </div>
      <div class="col-md-5">
        <img src="https://asset.kompas.com/crops/AA191ERBIIeIcvxZDmpgyDS9PsU=/0x0:512x341/750x500/data/photo/2021/01/28/6012bbbae02b0.jpg" width="100%" height="100%" alt="First slide">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ciri khas Rumah Kebaya</h2>
        <p class="lead">
          Ciri khas Rumah Kebaya salah satunya adalah memiliki serambi berukuran luas yang berfungsi untuk menerima tamu atau sebagai teras untuk bersantai seluruh anggota keluarga. Teras ini juga dikelilingi dengan pagar kecil dengan motif yang khas. Ada pula tangga kecil yang terbuat dari 3 susun batu bata sebagai jalan masuk ke serambi rumah. 
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://asset.kompas.com/crops/RmN1QEfeHZ0OBlgVUEYJyrwVJVU=/60x16:611x383/750x500/data/photo/2021/05/04/6090f6d26dbe4.png" width="100%" height="100%" alt="First slide">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Ornamen pada rumah Kebaya</h2>
        <p class="lead">
          Ornamen bunga matahari di atas pintu merupakan simbol bahwa kehidupan pemilik rumah harus menjadi inspirasi bagi masyarakat sekitar, karena matahari dilambangkan sebagai sumber kehidupan dan terang, terang matahari dapat diartikan bahwa pemilik harus selalu memiliki pemikiran batin yang terang. Ornamen bunga melati yang merupakan simbol keceriaan, keharuman, dan keramahan terhadap siapapun. Hal tersebut berhubungan dengan sikap masyarakat betawi yang selalu terbuka bagi siapapun yang ingin bertamu ke kampungnya. ornamen bunga cempaka yang merupakan simbol cerminan pemilik rumah, bahwa keadaan rumah haruslah wangi dan harmonis.  
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://blogpictures.99.co/sumber-nowjakartacoid.jpg" width="100%" height="100%" alt="First slide">

      </div>
    </div>
    <hr class="featurette-divider">
    <p>
      Referensi : <a href="http://www.setubabakanbetawi.com/1766-2/">Setubabakanbetawi</a> dan <a href="https://budaya-indonesia.org/Rumah-Bapang">Rumah Bapang</a> 
    </p>
  </div>


</main>

  <!-- <div class="container">
    <h2>
      All Post
    </h2>
    <a href="/posts/create">
      <button class="btn btn-primary">
        Create Post
      </button>
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach(post=> { %>
          <tr>
            <td>
              <%= post.id %>
            </td>
            <td>
              <%= post.title %>
            </td>
            <td>
              <%= post.content %>
            </td>
            <td>
              <div class="">
                <a href="/posts/edit/<%= post.id %>/">
                  <button class="btn btn-primary">
                    Edit
                  </button>
                </a>
                <form method="POST" action="/posts/delete/<%= post.id %>/">
                  <button type="submit" class="btn btn-danger">
                    Delete
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div> -->

  <%- include('../includes/footer'); %>